@font-face {
  font-family: 'Monoton';
  src: url(../fonts/Monoton-Regular.woff2) format('woff2'),
       url(../fonts/Monoton-Regular.woff) format('woff'),
       url(../fonts/Monoton-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url(../fonts/IBMPlexMono-Bold.woff2) format('woff2'),
       url(../fonts/IBMPlexMono-Bold.woff) format('woff'),
       url(../fonts/IBMPlexMono-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url(../fonts/IBMPlexMono-Medium.woff2) format('woff2'),
       url(../fonts/IBMPlexMono-Medium.woff) format('woff'),
       url(../fonts/IBMPlexMono-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'TitilliumWeb';
  src: url(../fonts/TitilliumWeb-SemiBold.woff2) format('woff2'),
       url(../fonts/TitilliumWeb-SemiBold.woff) format('woff'),
       url(../fonts/TitilliumWeb-SemiBold.ttf) format('truetype');
}

body {
    width: 100%;
    height: 100%;
	overflow: auto;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;
}

/* Prevent animation from running on load. */
body.preload * {
    animation: 0s;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: 'Monoton';
    font-size: calc(20px + 8vw);
    color: #333333;
    font-weight: normal;
    text-align: right;
    line-height: calc(20px + 8vw);
    user-select: none;
}

@supports (-moz-appearance:none) {
    h1 { font-weight: bold; }
}

p {
    padding: 0;
    margin: 0;
    font-size: min(1vw, 3vh);
}

.main-container {
    width: 100vw;
    height: 100vh;
    padding: 2vw 0 2vw 2vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-color: #F8F8F8;
    background-clip: content-box;
}

.about-me {
    height: 100%;
    position: relative;
    flex: 1;
}

.left-cover {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.left-cover .fill {
    width: 100%;
    height: 100%;
    border-radius: 0.7vw 0 0 0.7vw;
    background-color: #e94f4a;
}

.text-container {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 5%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    float: right;
    color: #F8F8F8;
}

.terminal {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    min-height: 13vw;
    margin-top: 3vh;
    margin-left: auto;
    padding: 1vw;
    border-radius: 0.6vw;
    background-color: #4b4b4bb0;
    font-family: 'IBMPlexMono';
    color: white;
    transition: 0.4s ease-in-out;
}

.terminal:hover {
    background-color: #1d1d1d9c;
}

.terminal-tabs {
    width: 80%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'TitilliumWeb';
}

.terminal-tab {
    width: 100%;
    border: 1.5px solid transparent;
    border-radius: 0.4em;
    margin-right: 0.5em;
    cursor: pointer;
}

.section-hidden {
    display: none;
}

.section-displayed {
    display: inline-block;
}

.terminal-tab {
    border-width: 0.1em;
}

.terminal-tab:nth-child(1) {
    border-color: #ffffff70;
}

.terminal-tab:hover {
    background-color: #ffffff20;
}

.terminal-tab > p {
    margin: 0.2em;
    text-indent: 0.4em;
    font-size: min(1.15vw, 3.2vh);
}

.terminal-row > a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.terminal-row {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.terminal-row .prompt,
.terminal-row .script {
    font-size: min(1.05vw, 3.1vh)
}

.terminal-row.title:not(:first-child) {
    margin-top: 2%;
}

.terminal-row:not(:last-child) {
    margin-bottom: 1vh;
}

.terminal > .terminal-row:last-child {
    margin-top: auto;
    padding-top: 1vh;
    height: 1.5em;
    justify-content: center;
    opacity: 0.9;
    cursor: pointer;
}

.row-hidden {
    position: relative;
    margin-top: -5%;
    opacity: 0;
    z-index: -1;
}

.expand-more {
    width: 3%;
    opacity: 0.7;
    transition: opacity 0.4s ease-in-out;
}

.expand-more:hover {
    opacity: 1;
}

.prompt {
    font-weight: bold;
    width: 12.5vw;
}

.row-left {
    width: 18vw;
    box-sizing: border-box;
    text-indent: 0.3vw;
}

.wrap-text {
    margin-left: 0.3vw;
    overflow-wrap: break-word;
    hyphens: auto;
    white-space: normal;
}

.row-center {
    width: 14vw;
}

.percentage-bar {
    letter-spacing: 0.2em;
}

.row-right {
    width: 4.5em;
    text-align: right;
}

.avatar {
    height: 100%;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.avatar-img {
    position: absolute;
    bottom: 0;
    right: 10vw;
    width: auto;
    height: 110%;
    object-fit: contain;
    object-position: 0 100%;
    pointer-events: none;
    user-select: none;
}

.side-bar {
    width: 4%;
    height: 100%;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.side-bar .social {
    width: 100%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social button {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: transparent;
    box-shadow: inset 0 0 0 0 transparent;
    border: none;
    border-radius: 100%;
    transition: 0.7s ease-out;
}


.social a {
    width: 5vh;
    height: 5vh;
    display: block;
}

.social > a:not(:last-child) {
    margin-bottom: 2vh
}

.social button:hover {
    cursor: pointer;
    background-color: #353535;
}

.social button:hover > img {
    transition: 0.3s ease-out;
    filter: invert(100%) sepia(0%) saturate(7490%) hue-rotate(257deg) brightness(100%) contrast(104%);
}

.social img {
    transition: 0.4s ease-in;
    width: 50%;
    height: 50%;
}

@media (max-height: 800px) and (orientation: portrait) {
    .avatar-img {
        height: 55vh !important;
    }
}

@media (max-width: 750px) and (orientation: portrait) {
    .text-container {
        right: unset;
    }

    .text-container h1 {
        text-align: right;
        margin-left: auto;
    }

    .avatar-img {
        right: -10vw;
    }
}

@media (min-width: 800px) and (orientation: portrait) {
    .avatar-img {
        right: -4vw;
        height: 50vh !important;
    }
}

@media (orientation: portrait) {
    h1 {
        font-size: min(18vw, 18vh);
        line-height: 100%;
        text-align: left;
    }

    .main-container {
        padding: 0;
        overflow: hidden;
    }

    .left-cover .fill {
        width: 60%;
        border-radius: 0;
    }

    .text-container {
        top: 10vh;
        left: 50%;
        width: 90%;
        transform: translate(-50%);
    }

    .terminal {
        margin: 2vh auto;
        max-width: none;
        padding: 1vh 1.5vw 1vh 1.5vw;
        border-radius: 2vw;
    }

    .terminal-tabs {
        width: 100%;
    }

    .terminal-tabs p {
        font-size: min(5.5vh, 2.95vw);
    }

    .terminal-row:not(:last-child) {
        margin-bottom: 1%;
    }

    .terminal-row .prompt,
    .terminal-row .script {
        width: auto;
        font-size: min(5.8vh, 2.85vw);
    }

    .terminal-row .row-left,
    .terminal-row .row-center,
    .terminal-row .row-right {
        width: auto;
        font-size: min(5.6vh, 2.65vw);
    }

    .terminal-row .row-center {
        margin-left: 6%;
    }

    .terminal-row .row-right {
        position: absolute;
        right: 5%;
    }
    .terminal-row .wrap-text {
        font-size: min(5vh, 2.45vw);
    }

    .row-center.percentage-bar {
        display: none;
    }

    .script {
        margin-left: 2%;
        flex: 1.3;
    }

    .avatar {
        flex: 0.001;
    }

    .avatar-img {
        height: max(60vh, 60vw);
        right: -5vw;
        max-height: 90vh;
        z-index: 2;
    }

    .side-bar {
        width: 10vw;
    }

    .social button {
        width: 5vh;
        height: 5vh;
    }
}

/* Animations */

@keyframes fade-in-anim {
    from {
        opacity: 0;
        margin-top: -5%;
    }
    to {
        opacity: 0.9;
        margin-top: 0;
    }
}

@keyframes fade-out-anim {
    from {
        opacity: 0.9;
        margin-top: 0;
    }
    to {
        opacity: 0;
        margin-top: -5%;
    }
}

@keyframes rotate-up-anim {
    49% {
        opacity: 0;
        rotate: 0deg;
    }
    50% {
        opacity: 0;
        rotate: 180deg;
    }
    100% {
        opacity: 0.9;
        rotate: 180deg;
    }
}

@keyframes rotate-down-anim {
    0% {
        opacity: 0.9;
        rotate: 180deg;
    }
    49% {
        opacity: 0;
        rotate: 180deg;
    }
    50% {
        opacity: 0;
        rotate: 0deg;
    }
    100% {
        opacity: 0.9;
    }
}


.row-hidden {
    animation: fade-out-anim 0.4s ease-in-out forwards;
}

.row-displayed {
    animation: fade-in-anim 0.4s ease-in-out forwards;
}

.facing-down {
    animation: rotate-down-anim 0.6s ease-in-out forwards;
}

.facing-up {
    animation: rotate-up-anim 0.6s ease-in-out forwards;
}
